<nav class="navbar navbar-dark navbar-dark navbar-expand-lg sticky-top bg-black bg-opacity-75 me-2">
  <div class="container-fluid">

    <a id="pustakamLogo" class="ms-3 navbar-brand align-self-center text-white   text-center text-uppercase  rounded my-2" routerLink="">
      PUSTAKAM
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-2">
          <a class="nav-link my-auto hover-bold fs-5" routerLinkActive="active" routerLink="books">
            Featured Books
          </a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item ms-2">
          <a class="nav-link my-auto hover-bold fs-5"  routerLinkActive="active" routerLink="addbook">
            Add Book
          </a>
        </li>          
      </ul>

      <div>          
        <div *ngIf="!authService.loggedIn()" class="btn-group me-3" role="group">
          <button routerLink="signin"  class="mx-1 btn shadow-lg px-4 btn-light align-middle" type="submit">
            Sign In
          </button>
          <button routerLink="signup"  class="btn btn-light px-4" >
            Sign Up
          </button>
          <button *ngIf="authService.loggedIn()" (click)="signOut()"  class="btn btn-light px-4" >
            Sign Out
          </button>
        </div>
        <button *ngIf="authService.loggedIn()" (click)="signOut()"  class="btn btn-light px-4" >
          Sign Out
        </button>
      </div>

    </div>

  </div>
</nav>