<div class="container-fluid mt-4" style="padding-bottom: 10rem;">
  <div class="row justify-content-center ">
    <div class="col-sm-6 col-9 col-md-5 col-lg-4 bg-black rounded-3 py-3 p-3 bg-opacity-75">
      <div class="login-wrap p-0 my-3">
        <h3 class="mb-4 text-center">No account yet? <br> Sign Up now!</h3>
        <h6 class="text-center text-white">You need only a username & password to signup</h6>
        <br>

        <form #userSignUp = "ngForm" (ngSubmit) = 'userSignup()' class="signin-form">
          <div class="form-group">
            <input 
              name="fullName" 
              [(ngModel)] = 'userCredentials.fullName' 
              #name = "ngModel"
              [class.is-invalid] = "name.invalid && name.touched"
              type="text" 
              class="form-control" 
              placeholder="Full Name"
              required >
          </div>
          <div class="form-group">
            <input 
              name="userName" 
              [(ngModel)] = 'userCredentials.userName' 
              #userName = "ngModel"
              [class.is-invalid] = "userName.invalid && userName.touched"
              type="text" 
              class="form-control" 
              placeholder="Username" 
              pattern="^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$" 
              required >
              <!-- only alphanumerics, dots, underscores & hyphens; first and last not symbols; no conseecutive symbols; 5-20 characters;  -->
          </div>
          <div 
            [class.d-none]="userName.valid || userName.untouched" 
            class="alert alert-danger py-1 px-auto rounded-2">
            Only letters, digits, dots, underscores & hyphens allowed. No consecutive symbols. 5-20 characters
          </div>
          <div class="form-group">
            <input 
              name="passWord" 
              [(ngModel)] = 'userCredentials.passWord' 
              #passwordModel = "ngModel"
              [class.is-invalid] = "passwordModel.invalid && passwordModel.touched"
              id="password-field" 
              [type]="pwdFieldType"
              class="form-control" 
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
              placeholder="Password" 
              required >
            <span (click)="togglePasswordView()" class=" me-3 fa fa-fw {{pwdViewEyeIcon}} field-icon"></span>
          </div>
          <div 
            [class.d-none]="passwordModel.valid || passwordModel.untouched" 
            class="alert alert-danger py-1 px-auto rounded-2">
            Minimum password length is 8 with at least one upper case, one lower case & one digit.
          </div>
          <div class="form-group">
            <input 
              name="repeatPassWord" 
              [(ngModel)] = 'repeatPassWord' 
              #repeatPasswordModel = "ngModel"
              [class.is-invalid] = "(repeatPasswordModel.invalid && repeatPasswordModel.touched) || (repeatPasswordModel.touched && (userCredentials.passWord != repeatPassWord))"
              id="repeatPassWord" 
              type="password" 
              class="form-control" 
              placeholder="Repeat Password" 
              required >
            <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
          </div>
          <div 
            [class.d-none]="repeatPasswordModel.valid || repeatPasswordModel.untouched" 
            class="alert alert-danger py-1 px-auto rounded-2">
            Password and Repeat Password should match
          </div>
          <br>
          <div class="form-group">
            <button 
              [disabled]="userSignUp.form.invalid" 
              type="submit" 
              class="form-control btn btn-primary submit px-3">
              Sign Up
            </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>